$height: 48px;

:host {
  display: block;
  --titlebar-height: #{$height};
}

.titlebar {
  height: var(--titlebar-height);
  display: flex;
  justify-content: space-between;
}

.titlebar-actions {
  display: flex;
  align-items: center;
}

.titlebar-buttons {
  user-select: none;
  display: flex;
  justify-content: flex-end;
}

.titlebar-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: var(--titlebar-height);
  height: var(--titlebar-height);
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: theme('colors.gray.300');

    @media (prefers-color-scheme: dark) {
      background-color: theme('colors.gray.600');
    }
  }

  &#titlebar-close:hover {
    overflow: hidden;
    background-color: theme('colors.red.500');
    border-top-right-radius: theme('borderRadius.lg');

    .icon {
      color: theme('colors.gray.100');
    }
  }
}

.icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

::ng-deep {
  body.maximized .titlebar-button#titlebar-close:hover {
    border-top-right-radius: 0;
  }
}
