<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<div class="grid h-[28px] grid-cols-3 justify-between">
  <div class="flex justify-start" data-tauri-drag-region>
    <app-file-menu></app-file-menu>
  </div>
  <div
    class="flex select-none items-center justify-center text-sm"
    data-tauri-drag-region>
    Diff Spotter
  </div>
  <div class="flex justify-end" data-tauri-drag-region>
    <button
      class="flex w-[44px] items-center justify-center hover:bg-gray-200 dark:hover:bg-gray-700"
      id="titlebar-minimize"
      (click)="minimizeWindow()">
      <ng-icon name="minimizeIcon" size="24px"></ng-icon>
    </button>
    <button
      class="flex w-[44px] items-center justify-center hover:bg-gray-200 dark:hover:bg-gray-700"
      id="titlebar-maximize"
      (click)="toggleMaximizeWindow()">
      <ng-icon
        [name]="
          (maximized | async)
            ? 'remixCheckboxMultipleBlankLine'
            : 'remixCheckboxBlankLine'
        "
        size="16px"></ng-icon>
    </button>
    <button
      class="flex w-[44px] items-center justify-center hover:bg-red-500"
      id="titlebar-close"
      (click)="closeWindow()">
      <ng-icon name="remixCloseLine" size="24px"></ng-icon>
    </button>
  </div>
</div>
