<div
  tabindex="-1"
  (click)="fileInput.click()"
  (keydown.enter)="fileInput.click()"
  #dropZone
  class="drop-zone relative flex size-full cursor-pointer flex-col items-center justify-center rounded-lg border-2 border-dashed border-gray-300 p-4 dark:border-gray-700"
>
  <input
    #fileInput
    type="file"
    class="pointer-events-none hidden"
    accept="image/*"
    (change)="handleFileUpload($any($event.target).files)"
  />
  <ng-icon name="remixImageFill" class="pointer-events-none" size="2rem"></ng-icon>
  <p
    class="pointer-events-none mt-2 select-none text-sm font-bold text-gray-600 dark:text-gray-400"
  >
    Drop image here
  </p>
  <p class="pointer-events-none mt-2 select-none text-sm text-gray-600 dark:text-gray-400">
    or click to browse
  </p>
</div>
