<div class="flex h-full">
  <div
    class="drawer drawer-open h-full flex-1"
    *ngIf="showDiff() || diffForm.controls.liveEdit.value">
    <input id="my-drawer" type="checkbox" class="drawer-toggle" />
    <div class="drawer-side h-full">
      <label
        for="my-drawer"
        aria-label="close sidebar"
        class="drawer-overlay"></label>
      <div class="w-80 p-4 text-base-content">
        <div class="flex items-center justify-between gap-2">
          <label class="label" for="live-edit">Dark mode</label>
          <input
            type="checkbox"
            class="toggle toggle-sm"
            [checked]="theme() === 'dark'"
            (change)="
              themeService.setTheme(
                $any($event.target).checked ? 'dark' : 'light'
              )
            " />
        </div>

        <div class="flex items-center justify-between gap-2">
          <label class="label" for="live-edit">Real-time diff</label>
          <input
            type="checkbox"
            class="toggle toggle-sm"
            [formControl]="diffForm.controls.liveEdit" />
        </div>

        <div class="flex items-center justify-between gap-2">
          <label class="label" for="live-edit">Unified diff</label>
          <input
            type="checkbox"
            class="toggle toggle-sm"
            [formControl]="diffForm.controls.unifiedDiff" />
        </div>

        <div class="flex items-center justify-between gap-2">
          <label class="label" for="live-edit">Collapse lines</label>
          <input
            type="checkbox"
            class="toggle toggle-sm"
            [formControl]="diffForm.controls.collapseLines" />
        </div>
      </div>
    </div>
  </div>
  <div class="size-full space-y-4 p-6 shadow-md">
    <div class="flex justify-between">
      <div>
        <h2 class="text-2xl font-semibold">Untitled diff</h2>
      </div>
      <div class="flex items-center justify-end gap-2">
        <button class="btn btn-ghost btn-sm" (click)="clear()">Clear</button>
        <button class="btn btn-neutral btn-sm">
          <ng-icon name="remixSaveLine"></ng-icon>
          Save
        </button>
        <button class="btn btn-primary btn-sm">
          <ng-icon name="remixShareForwardBoxLine"></ng-icon>
          Share
        </button>
      </div>
    </div>

    <div
      *ngIf="showDiff() || diffForm.controls.liveEdit.value"
      class="mt-4 rounded-md">
      <div class="mt-2">
        <diff-editor
          *ngIf="showDiff()"
          [originalExtensions]="[
            editorTheme(),
            EditorState.readOnly.of(!diffForm.controls.liveEdit.value),
            EditorView.editable.of(diffForm.controls.liveEdit.value),
          ]"
          [modifiedExtensions]="[
            editorTheme(),
            EditorState.readOnly.of(!diffForm.controls.liveEdit.value),
            EditorView.editable.of(diffForm.controls.liveEdit.value),
          ]"
          [style.height.px]="diffForm.controls.liveEdit.value ? 700 : 300"
          [collapseUnchanged]="{ margin: 3, minSize: 4 }"
          [originalValue]="diffForm.controls.originalText.value"
          [modifiedValue]="diffForm.controls.modifiedText.value"
          (modifiedValueChange)="
            liveDiff.controls.modifiedText.setValue($event)
          "
          (originalValueChange)="
            liveDiff.controls.originalText.setValue($event)
          "></diff-editor>
      </div>
    </div>

    <div class="flex flex-wrap gap-3" *ngIf="!diffForm.controls.liveEdit.value">
      <div class="min-w-96 flex-1">
        <div class="flex content-center items-center justify-between">
          <label class="label" for="originalText">Original Text</label>
          <button
            class="btn btn-ghost btn-primary btn-sm"
            (click)="openFile(diffForm.controls.originalText)">
            <ng-icon name="remixFileAddLine"></ng-icon>
            Open file
          </button>
        </div>
        <code-editor
          [formControl]="diffForm.controls.originalText"
          [theme]="editorTheme()"
          [style.height.px]="300">
        </code-editor>
      </div>

      <div class="min-w-96 flex-1">
        <div class="flex content-center items-center justify-between">
          <label class="label" for="modifiedText">Modified Text</label>
          <button
            class="btn btn-ghost btn-primary btn-sm"
            (click)="openFile(diffForm.controls.modifiedText)">
            <ng-icon name="remixFileAddLine"></ng-icon>
            Open file
          </button>
        </div>
        <code-editor
          [formControl]="diffForm.controls.modifiedText"
          [theme]="editorTheme()"
          [style.height.px]="300"
          #modifiedEditor>
        </code-editor>
      </div>
    </div>

    <button
      class="btn btn-primary w-full"
      (click)="showDiff.set(true)"
      *ngIf="!diffForm.controls.liveEdit.value">
      Find Differences
    </button>
  </div>
</div>
